.NewGameForm {
  position: fixed;
  background-color: var(--slate);
  color: black;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 2.5rem;
}

.NewGameForm-close {
  position: absolute;
  top: -1rem;
  right: -1rem;
  text-align: center;
  line-height: 2rem;
  width: 2rem;
  background-color: white;
  color: blue;
  cursor: pointer;
  border-radius: 1rem;
  user-select: none;
}
